<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="page-header">
      <h1>Welcome pdf generate</h1>
    </div>
    <table class="table table-striped">
      <tr>
        <th>ID</th>
        <th>title</th>
        <th>body</th>
      </tr>
      <%= render @posts %>
    </table>
</div>
</div>
